.contact-container {
    padding: 50px;
    text-align: center;
  }
  
  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-list li {
    margin: 15px 0;
  }
  
  .contact-list a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #70a9ff; 
  }
  
  .contact-list a:hover {
    color: #1b263b; 
  }
  